body {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#sidebar {
    background-color: #12181f;
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 280px;
    height: 100%;
    gap: 20px;
}

#sidebar .header {
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
    border-bottom: 1px solid #c7c1b3;
}

#sidebar .header .brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 77.5%;
    gap: 15px;
}

#sidebar .header .brand .logo {
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    border-radius: 100%;
    border: 2px solid #c7c1b3;
}
#sidebar .header .brand .title {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #c7c1b3;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    gap: 3px;
}
#nav-bar .nav-item {
    width: 85%;
    display: flex;
    gap: 15px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    color: #c7c1b3;
    cursor: pointer;
    transition: background-color 0.1s ease, color 0.1s ease;
    font-size: 16px;
    align-items: center;
}

#nav-bar .nav-item:hover, #nav-bar .nav-item.active {
    background-color: #1c2531;
    color: #ffffff;
}

#nav-bar .nav-item.active .nav-ico {
    outline: 1px solid #c7c1b3a6;
}

#nav-bar .nav-item .nav-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid rgba(255, 255, 255, 0.233);
    padding: 3px 7px;
    border-radius: 5px;
}
#nav-bar .nav-item .nav-ico svg {
    height: 20px;
    width: 20px;
}

.entradas-ico{
    position: relative;
}

.entradas-ico svg{
    position: absolute;
    right: 11px;
}


.entradas-ico > svg:last-child {
    position: relative;
    right: -4px;
   transform: scaleY(-1);
}